body{
    background-color: rgb(112, 157, 216);
}

.imagem2{
    width: 65%
    
}

.imagem3{
    width: 30%;
}


h1{
    font-family: 'Satisfy', cursive;
    font-size: 60px;
    text-align: center;

}